<div class="icon error-icon" id="ErrorIcon" data-entity="error">
    <div id="errorIndicatorLabel"
         style="text-align:center; margin-bottom:34px; color:#291161; font-size:14px; font-weight:bold;">
        Ошибка
    </div>

    <svg width="50" height="50" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" rx="12" fill="#DF1125"/>
        <path d="M14.8691 7.72437C15.2618 7.40402 15.8408 7.42662
        16.207 7.79273C16.5731 8.15885 16.5957 8.73785 16.2753
        9.13063L16.207 9.2068L13.414 11.9998L16.207 14.7927L16.2753
        14.8689C16.5957 15.2617 16.5731 15.8407 16.207 16.2068C15.8408
        16.5729 15.2618 16.5955 14.8691 16.2752L14.7929 16.2068L11.9999
        13.4138L9.20696 16.2068C8.81643 16.5973 8.18342 16.5973
        7.79289 16.2068C7.40237 15.8163 7.40237 15.1833 7.79289
        14.7927L10.5859 11.9998L7.79289 9.2068L7.72453 9.13063C7.40418
        8.73785 7.42678 8.15885 7.79289 7.79273C8.15901 7.42662
        8.73801 7.40402 9.13078 7.72437L9.20696 7.79273L11.9999
        10.5857L14.7929 7.79273L14.8691 7.72437Z"
              fill="black"/>
    </svg>
</div>

<div class="icon warning-icon" id="WarningIcon" data-entity="warning">
    <div id="warningIndicatorLabel"
         style="text-align:center; margin-bottom:34px; color:#291161; font-size:14px; font-weight:bold;">
        Предупреждение
    </div>

    <svg width="50" height="50" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0261 2.16875C10.8989 0.610416 13.1011 0.610416 13.9739 2.16875L23.6971
        19.5296C24.5632 21.0759 23.4688 23 21.7232 23H2.27682C0.531206 23 -0.563164
        21.0759 0.302903 19.5296L10.0261 2.16875Z"
              fill="#F8A441"/>
        <path d="M11 15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523 13
        15V10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10V15Z"
              fill="black"/>
        <path d="M13 18C13 17.4477 12.5523 17 12 17C11.4477 17 11 17.4477 11
        18C11 18.5523 11.4477 19 12 19C12.5523 19 13 18.5523 13 18Z"
              fill="black"/>
    </svg>
</div>

<div class="icon fault-icon" id="FaultIcon" data-entity="fault">
    <div id="faultIndicatorLabel"
         style="text-align:center; margin-bottom:34px; color:#291161; font-size:14px; font-weight:bold;">
        Авария
    </div>

    <svg width="50" height="50" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0261 2.16875C10.8989 0.610416 13.1011 0.610416 13.9739
        2.16875L23.6971 19.5296C24.5632 21.0759 23.4688 23 21.7232
        23H2.27682C0.531206 23 -0.563164 21.0759 0.302903 19.5296L10.0261
        2.16875Z"
              fill="#DF1125"/>
        <path d="M11 15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523
        13 15V10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10V15Z"
              fill="black"/>
        <path d="M13 18C13 17.4477 12.5523 17 12 17C11.4477 17 11 17.4477
        11 18C11 18.5523 11.4477 19 12 19C12.5523 19 13 18.5523 13 18Z"
              fill="black"/>
    </svg>
</div>


<div class="flywheel-layout">

    
    <!-- Основной контент -->
    <div class="content-grid">

        <!-- Левая часть -->
        <div class="telemetry-panel">

            <!-- Мотор -->
            <div class="data-card">

                <div class="single-block-title">
                    Мотор
                </div>

                <div class="info-card">
                    <span class="data-label">Скорость</span>
                    <span class="data-value" data-source="speed">--</span>
                    <span class="unit">об/мин</span>
                </div>

                <div class="info-card">
                    <span class="data-label">ШИМ</span>
                    <span class="data-value" data-source="pwmPercent">--</span>
                    <span class="unit">%</span>
                </div>

                <div class="info-card">
                    <span class="data-label">Частота</span>
                    <span class="data-value" data-source="freqHz">--</span>
                    <span class="unit">Hz</span>
                </div>

                <div class="info-card">
                    <span class="data-label">Напряжение</span>
                    <span class="data-value" data-source="voltage">--</span>
                    <span class="unit">В</span>
                </div>

                <div class="info-card">
                    <span class="data-label">Ток</span>
                    <span class="data-value" data-source="current">--</span>
                    <span class="unit">А</span>
                </div>

                <div class="info-card">
                    <span class="data-label">Мощность</span>
                    <span class="data-value" data-source="power">--</span>
                    <span class="unit">Вт</span>
                </div>

                <div class="info-card">
                    <span class="data-label">Энергия(Мех.)</span>
                    <span class="data-value" data-source="energy">--</span>
                    <span class="unit">Вт·ч</span>
                </div>

            </div>

            <!-- Температуры -->
            <div class="data-card">

                <div class="group-title">
                    Температуры
                </div>

                <div class="data-row">
                    <span>T1:</span>
                    <span class="data-value" data-source="temp1">--</span>
                </div>

                <div class="data-row">
                    <span>T2:</span>
                    <span class="data-value" data-source="temp2">--</span>
                </div>

                <div class="data-row">
                    <span>T3:</span>
                    <span class="data-value" data-source="temp3">--</span>
                </div>

                <div class="data-row">
                    <span>T4:</span>
                    <span class="data-value" data-source="temp4">--</span>
                </div>

            </div>

        </div>

        <!-- Правая панель управления -->
        <div class="control-panel">

            <div class="single-block-title">
                Управление
            </div>

            <!-- PWM -->
            <div class="control-section">
                <div class="control-label"> PWM </div>
                <div class="pwm-controls">

                    <button class="control-btn" id="pwmMinusBtn"> −</button>

                    <div class="pwm-display">
                        <span id="pwmControlValue">0</span>
                        <span>%</span>
                    </div>

                    <button class="control-btn" id="pwmPlusBtn">
                        +
                    </button>

                </div>
            <button class="start-stop-btn" id="ResetBtn" data-state="stopped">RESET</button>
            </div>

            <!-- START STOP -->
            <div class="control-section">

                <div class="control-label">
                    Двигатель
                </div>

                <button class="start-stop-btn" id="startStopBtn" data-state="stopped">START</button>

            </div>

            <!-- MODE -->
            <div class="control-section">

                <div class="control-label">
                    Режим
                </div>

                <div class="mode-switch">

                    <button class="mode-btn active">
                        Заряд
                    </button>

                    <button class="mode-btn">
                        Разряд
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>